@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:wght@400;600&family=Space+Mono&display=swap');
html,
body {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

* {
    font-family: "montserrat", sans-serif;
    margin: 0px;
    padding: 0;
}