.page404__container {
    align-items: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

.page404__name {
    left: 20px;
    position: absolute;
    top: 20px;
    p {
        color: #333333;
        font-family: 'Inconsolata', monospace;
        font-size: 24px;
        font-weight: bold;
        line-height: 25px;
    }
}

.page404__main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 100px;
}

.page404__img {
    height: 220.35px;
    margin-bottom: 77.65px;
    width: 286.83px;
    img {
        width: 100%;
    }
}

@include tablet {
    .page404__main {
        flex-direction: row;
        top: 70px;
    }
    .page404__img {
        height: 447.43px;
        margin-bottom: 0;
        margin-right: 120px;
        width: 539.22px;
    }
}

.page404__info {
    padding-left: 24px;
    .page404__title {
        margin-bottom: 30px;
        width: 350px;
        p {
            color: #333333;
            font-family: 'Space Mono', monospace;
            font-size: 48px;
            font-weight: bold;
            letter-spacing: -0.035em;
            line-height: 71px;
        }
    }
    .page404__description {
        margin-bottom: 65px;
        width: 328px;
        p {
            color: #4F4F4F;
            font-family: 'Space Mono', monospace;
            font-size: 18px;
            font-weight: normal;
            letter-spacing: -0.035em;
            line-height: 36px;
        }
    }
}

@include tablet {
    .page404__info {
        padding-left: 0;
        .page404__title {
            margin-bottom: 36px;
            width: 586px;
            p {
                font-size: 64px;
                line-height: 95px;
            }
        }
        .page404__description {
            width: 381px;
            p {
                font-size: 24px;
            }
        }
    }
}

.page404__back {
    a {
        background: #333333;
        color: white;
        font-family: 'Space Mono', monospace;
        padding: 24px 43px 23px 43px;
        text-decoration: none;
    }
}

footer {
    padding: 20px 0;
    position: absolute;
    top: 105%;
    .page404__footer {
        display: flex;
        a,
        p {
            color: #333333;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 600;
        }
    }
}

@include tablet {
    footer {
        top: 90%;
    }
}